$white: #ffffff;
$green-default: #009FE3;
$green-hover: #048dc7;
$light-grey: #C7C7C7;
$black-classic: #1D1D20;
$black-bg: #2B2B2B;
$success-bg: #FBFFFE;
$error-bg: #FEE8E8;
$error-text: #FA2B2B;

$transition: all 0.3s ease 0s;

